<footer>
   <a href="http://www.howest.be"><img src="<%=static%>/images/howest.png"></a>
   <a href="http://wwww.cody-cms.org"><img src="<%=static%>/images/cody.png"></a>
   <a href="http://www.nodejs.org"><img src="<%=static%>/images/node.png"></a>
</footer>