<footer>
  <div>
     <a href="http://www.howest.be"><img src="<%=static%>/images/howest.png"></a>
     <a href="http://www.cody-cms.org"><img src="<%=static%>/images/cody.png"></a>
     <a href="http://www.nodejs.org"><img src="<%=static%>/images/node.png"></a>
  </div>
</footer>