<!doctype html>
<html lang="<%=page.language%>">

<% include header.ejs %>

<body id="page<%= page.itemId %>">

	<div id="wrapper">

    <% include top.ejs %>

		<div class="photos">
      <p>Met dank aan Jean-Mi.</p>
      <iframe width="853" height="480" src="//www.youtube.com/embed/U2JYzk0IFI8?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>

    <% include footer.ejs %>
	</div>

</body>
</html>