<footer>
  <div style="float:right"><a href="http://www.cody-cms.org" style="text-decoration: none; color: white; width: 200px; margin-top: 10px ">Made with Cody CMS</a></div>
  <div>
     Stef Dekien - Katrien Verhaeghe<br>Charlotte & Louis.
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2128630-6', 'stefdekien.be');
  ga('send', 'pageview');

</script>