<!doctype html>
<html lang="en">

<body>
<img src="<%=context.cstatic%>/images/logoMC.png"> Unit testing.
<hr>
<h2>Controller</h2>
<%- context.cody.unitTests.controller(context) %>
<hr>

<h2>Path</h2>
enzo verder...
<hr>

Johan.
<hr>
</body>
</html>