body { margin: 0; padding: 0; font-family: helvetica, arial, sans-serif }
p { display: inline; font-size: 15px }
h1 { font-size: 45px; color: white; font-weight: bold; width: 100%; text-align: left;
     display: block; margin: 20px 0 30px 0 }
h2 { font-size: 45px; color: #53b478; font-weight: bold;  margin: 25px 0 15px }
div p { color: #333334; display: block }

div { background-color: #eceded; border: 1px solid #e3e3e3; border-radius: 4px;
      padding: 5px 20px 5px 20px; margin: 0 0 20px; font-size: 17px  }

header { background: black url(../images/pttrn.png) repeat left top; color: white; margin: 0; padding: 10px 0  }
header > div { max-width: 908px; width: 90%; background: transparent; border: none; padding: 0; margin: 0 auto }
header > div > p { display: inline }
header > div > div { display: inline-block; width: 70%; border: none; background: transparent; margin: 0; padding: 0 }
header > div > div > p { color: white; margin-right: 20px; }
header img { display: inline-block; width: 25%; max-width: 200px; border-radius:6px }
header a { color: white; padding-top:10px }
header a:hover { text-decoration: none; color: red }
header span { font-size: 30px; color: yellow; padding-right: 10px }
header strong { float: right; color: white }

footer { background: black url(../images/pttrn.png) repeat left top; padding: 20px 0; margin: 0 }
footer div { max-width: 908px; width: 90%; margin: 0 auto; padding: 0; border: none; background: transparent; }
footer img { display: inline-block }
footer a { text-decoration: none; text-align: center;
           display: inline-block; width: 32%; margin: auto; vertical-align: middle }

section { max-width: 908px; width: 90%; margin: 0 auto; padding: 0; border: 0; background: transparent; }
section img { max-width: 800px; box-shadow: darkgrey 3px 3px 3px; margin: 8px; }

label { display: inline-block; width: 95px; }
button { display: inline-block; padding: 10px 20px; border-radius: 4px; border: 0; font-size: 16px; color: #fff; background: #53b478; font-weight: bold; }

input[type=text] { width: 400px; font-size: 14px; border-radius: 4px; height: 24px; border: darkgrey 1px solid }
form div { margin: 7px 0 15px 0; border: none; padding: 0 }
div.radios { display: inline-block; }
div.radios label { width: inherit; margin-left: 3px; margin-right: 20px }
#action_buttons { padding-left: 107px }
fieldset { border: none }
label.error { width:400px; color:red; display: block; margin-left: 80px }

/* wall */
.wall textarea { display: block }
.wall ul { list-style: none; padding: 0 }
.wall li { margin: 12px 0 12px 0; padding: 0 }
.wall span { font-weight: bold }
.wall span.Q { color: red }

#search > div > span { margin: 0 8px 0 3px ; }
#records { border-collapse: collapse; width: 99%; margin-top: 15px }
#records a { text-decoration: underline; color: inherit; }
#records th { border-bottom:solid 2px green; border-top:solid 2px green; padding: 5px; text-align: left }
#records td { padding: 5px; font-size: 12px; }
#records .inactive td { color: darkgray }
#records tr:nth-child(odd) { background-color: white }

