body { margin: 0; padding: 0; font-family: helvetica, arial, sans-serif }
p { display: inline }
h1 { font-size: 40px; color: white; font-weight: bold; width: 100%; text-align: center;
     display: block; margin: 20px auto 30px auto }
h2 { font-size: 20px; color: #9d9d9c; font-weight: bold; margin: 25px 20px 15px 20px }
div p { color: #333334; display: block }

div { background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px;
      padding: 5px 20px 5px 20px; margin: 0px 20px 20px 20px; font-size: 17px }

header { background-color: black; color: white; margin: 0; padding: 10px 20px 10px 20px  }
header p { color: white; margin-right: 20px }
header div { display: inline-block; width: 70%; border: none; background-color: black; margin: 0; padding: 0 }
header img { display: inline-block; width: 25%; max-width: 210px; border-radius:6px }

footer { background-color: black; padding: 20px; margin: 0 }
footer img { display: inline-block }
footer a { text-decoration: none; text-align: center;
           display: inline-block; width: 33%; margin: auto; vertical-align: middle }

label { display: inline-block; width: 80px; }
button { font-size: 16px }
input[type=text] { width: 400px; font-size: 14px }
form div { margin: 7px 0 5px 0; border: none; padding: 0 }
#action_buttons { padding-left: 92px }
fieldset { border: none }
label.error { width:400px; color:red; display: block; margin-left: 80px }