<footer>
  <% var first = page.root.getContent('footer.first'); %>
  <% var second = page.root.getContent('footer.second'); %>
  <% var third = page.root.getContent('footer.third'); %>

  <% if (first && (typeof first !== "undefined")) { %>
    <span class="first"><%- first.render() %></span>
  <% } %>
  <% if (second && (typeof second !== "undefined")) { %>
    <span class="second"><%- second.render() %></span>
  <% } %>
  <% if (third && (typeof third !== "undefined")) { %>
    <span class="third"><%- third.render() %></span>
  <% } %>
</footer>