<footer>
  <section>
    <a href="http://www.nodejs.org"><img src="<%=cstatic%>/images/nodeB.png"></a>
    <a href="http://www.howest.be"><img src="<%=cstatic%>/images/howestB.png"></a>
    <a href="http://github.org/jcoppieters/cody"><img src="<%=cstatic%>/images/codyforkB.png"></a>
  </section>
</footer>