<nav>
	<ul>
		<% for (var i in page.parent.children) { 
		     var subpage = page.parent.children[i]; 
		     if (subpage.isVisible()) { %>
			     <li><a <%- (page == subpage) ? 'class="active"' : '' %>
				       href="<%=path.prefix%>/<%=subpage.url%>"><%=subpage.title%></a></li>
    <%   } %>
    <% } %>
	</ul>
</nav>