<nav>
	<ul class="subNav">
		<% for (var i in page.parent.children) { 
		     var subpage = page.parent.children[i]; 
		     if (subpage.isVisible()) { %>
			     <li <%= (page == subpage) ? 'class="active"' : '' %> ><a
				       href="/<%=subpage.url%>"><%=subpage.title%></a></li>
    <%   } %>
    <% } %>
	</ul>
</nav>