<!doctype html>
<html lang="<%=page.language%>">

<body>
<img src="<%=cstatic%>/images/logoMC.png">
<br>
	For the moment, there is no front for the cody library<br>
  Perhaps some unit testing?<br>
<br>
Johan.

</body>
</html>